.ui-alert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ui-alert svg{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    padding: 0 20px;
}

.ui-alert__text {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #64748B;
    letter-spacing: 1px;
}

/* Варианты: перекрашивают stroke иконки (перебивает атрибут stroke в svg) */
.ui-alert--warning svg path {
    stroke: #F59E0B;
}

.ui-alert--error svg path {
    stroke: #EF4444;
}
.ui-alert--error .ui-alert__text {
    color: #EF4444;
}

.ui-alert--info svg path {
    stroke: #0EA5E9;
}

.ui-alert--success svg path {
    stroke: #22C55E;
}